<h3 class="header">
  Secure Stake Holder Voting based on Paillier Threshold Cryptosystem
</h3>

<div class="wrapper">
  <div class="row">
    <div class="voters col-md-8">
      <div class="row">
        <div class="box col-4">
          <span class="header-device">Client Device #1</span>
          <span class="stake">45%</span>
          <div>
              <input type="radio" id="v1c1" [(ngModel)]="choiseFirst" [value]="0" class="radio" name="v1"> <label for="v1c1">Candidate 1</label>
          </div>
          <div>
              <input type="radio" id="v1c2" [(ngModel)]="choiseFirst" [value]="1" class="radio" name="v1"> <label for="v1c2">Candidate 2</label>
          </div>
          <button class="btn btn-success vote-btn" [disabled]="disabledFirst" (click)="voteFirst()">Vote</button>

        </div>
        <div class="box col-4">
          <span class="header-device">Client Device #2</span>
          <span class="stake">35%</span>
          <div>
            <input type="radio" id="v2c1" [(ngModel)]="choiseSecond" [value]="0" class="radio" name="v2"> <label for="v2c1">Candidate 1</label>
          </div>
          <div>
            <input type="radio" id="v2c2" [(ngModel)]="choiseSecond" [value]="1" class="radio" name="v2"> <label for="v2c2">Candidate 2</label>
          </div>
          <button class="btn btn-success vote-btn" [disabled]="disabledSecond" (click)="voteSecond()">Vote</button>
        </div>
        <div class="box col-4">
          <span class="header-device">Client Device #3</span>
          <span class="stake">20%</span>
          <div>
            <input type="radio" id="v3c1" [(ngModel)]="choiseThird" [value]="0" class="radio" name="v3"> <label for="v3c1">Candidate 1</label>
          </div>
          <div>
            <input type="radio" id="v3c2" [(ngModel)]="choiseThird" [value]="1" class="radio" name="v3"> <label for="v3c2">Candidate 2</label>
          </div>

          <button class="btn btn-success vote-btn" [disabled]="disabledThird"  (click)="voteThird()">Vote</button>
        </div>
      </div>
      <div class="dec-wrapper row under-row">
        <div class="col-12">
          <button class="btn btn-success vote-btn" (click)="getPubkey()">
            Generate shares and public key
          </button>
        </div>
      </div>
      <div class="enc-public row under-row">
        <div class="col-12">
          Public key of System:
          <b>{{PubKey}}</b>
        </div>
      </div>
      <!--<div class="enc-result row under-row">-->
        <!--<div class="col-12">-->
          <!--Total Encryption :-->
          <!--<b>{{TotalEnc}}</b>-->
        <!--</div>-->
      <!--</div>-->
      <div class="dec-wrapper row under-row">
        <div class="col-12">
          <button class="btn btn-success vote-btn" (click)="decrypt()" *ngIf="!decriptying">
            Decrypt Encrypted Result
          </button>
          <div class="loader" *ngIf="decriptying">Loading...</div>
        </div>
      </div>
      <div class="dec-result row under-row">
        <div class="col-12">
          Decrypted Result:
          <div>Candidate 1: <b>{{TotalYes}}</b></div>
          <div>Candidate 2: <b>{{TotalNo}}</b></div>
        </div>
      </div>
    </div>

    <div class="votes col-md-4">
      <span class="header-device">Votes</span>

      <div class="row"  *ngFor="let tx of transactions; let i=index" >
        <div class="col-1 id"> {{i +1}} </div>
        <div class="col-11 tx" >{{tx}}</div>
      </div>
    </div>
  </div>



</div>
